.Caru{
    
    /* padding: 20px; */
    /* margin-left: 20%; */
    /* padding-top: 160px; */
}
.caro{
    width: 50%;
    float: left;
    /* padding: 20px; */
}

.kk{
    margin-right: -13%;
    /* color: red; */
    /* padding-right: 15px; */
}
.boat{
    background: cover;    
}
.footer{
    /* height: 100%; */
    /* width: 100%; */
    /* padding: 100px; */
    /* background-color:aquamarine; */
}
.oo{
    margin-left: -70%;
}